body {
  --linkedin-background: rgb(41, 62, 74);
  --linkedin-color: #f5f5f5;
  --main-background-color: rgb(245, 245, 245);
  background-color: var(--main-background-color);
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.app__body {
  display: flex;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0 10px; */

  max-width: 1300px;
}
