.header {
  background-color: var(--linkedin-background);
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header__left {
  flex: 0.3;
  display: flex;
  padding: 10px;

  margin-left: 120px;
}

.header__left > input {
  width: 100%;
  border-radius: 2px;
  padding: 0 8px 0 28px;
  line-height: 1.75;
  color: rgba(var(--cool-gray-80, #283e4a), 0.75);
  font-weight: 400;
  font-size: 14px;
  height: 34px;
  background-color: var(--cool-gray-30, #e1e9ee);
  border-color: var(--cool-gray-30, #e1e9ee);
}
