.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
}
.post__avatar {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.post_info {
  margin-left: 20px;
}
.post_info > h1 {
  font-size: 15px;
}

.post_info > p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
