.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  margin-bottom: 10px;
}
.post__avatar {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.post_info {
  margin-left: 20px;
}
.post_info > h1 {
  font-size: 15px;
}

.post_info > p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.post__text > p {
  font-size: 17px;

  max-width: 600px;
  margin-bottom: 20px;
}

.post__avatar > img {
  border-radius: 50px;

  object-fit: contain;
  margin-bottom: 5px;
  border: 1px solid var(--white, #fff);
  box-shadow: inset 0 1.5px 3px 0 var(--black-a15, rgba(0, 0, 0, 0.15)),
    0 1.5px 3px 0 var(--black-a15, rgba(0, 0, 0, 0.15));

  background-color: var(--white, #fff);
}

.post__photo > img {
  object-fit: contain;
  width: 100%;
  height: 50%;
}
