.post {
  display: flex;
  align-items: flex-start;

  border-bottom: 1px solid var(--twitter-background);
  margin-left: 20px;
}
.post__avatar {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 10px;
}

.post_info > h1 {
  font-size: 15px;
}

.post_info > p {
  font-size: 14px;
}
