.post {
  display: flex;
  align-items: flex-start;

  border-bottom: 1px solid var(--twitter-background);
}
.post__avatar {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 10px;
}
