.startPost > form {
  border: 1px solid var(--linkedin-color, #fff);
  box-shadow: inset 0 1.5px 3px 0 var(--black-a15, rgba(0, 0, 0, 0.15)),
    0 1.5px 3px 0 var(--black-a15, rgba(0, 0, 0, 0.15));

  color: var(--warm-gray-60, #84878a);
}
.startPost__input {
  display: flex;
  padding: 10px;
}
.startPost__input > textarea {
  border: 0px;
  padding: 20px;
  resize: none;
  max-width: 500px;
  max-height: 70px;
  color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--warm-gray-60, #84878a);
}
