.startPost > form {
  border: 1px solid #fff;

  box-shadow: 1px 1px 1px 1px whitesmoke;

  background-color: var(--white, #fff);
  margin-top: 10px;
}
.startPost__input {
  display: flex;

  flex-direction: column;

  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.startPost__input > textarea {
  border: 0px;
  padding: 20px;
  resize: none;
  max-width: 600px;
  max-height: 60px;
  color: var(--warm-gray-60, #84878a);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--white, #fff);
}

.startPost__menu {
  display: flex;
  justify-content: space-evenly;

  padding: 10px;
}
.startPost__menu__content {
  display: flex;
  align-content: center;
}
.startPost__menu__content > button {
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  color: var(--warm-gray-60, #84878a);
}

.startPost__menu__content > span > .MuiSvgIcon-root {
  font-size: 26px;
  color: rgb(50, 170, 217);
}

.startPost__menu__content:hover {
  background-color: blue;
}
